/* index.css */
body {
   background-color: beige;
}

.input-box {
  width: 300px;
  padding: 10px;
  border: 1px solid #bd2525;
  border-radius: 4px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  color: #333;
}

